<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%= audio_tag("#{Rails.root}/uploads/440Hz-5sec.mp3", :autoplay => false, :controls => true) %>


<hr>

<%= link_to "New" ,  new_dashboard_path %>


