
<h1>About</h1>






<p>Proiect realizat in cadrul cursului de WebDev 2013</p>
<p>Membrii echipei</p>
<ul>
	<li>Cristian Berceanu</li>
	<li>Oana Radoi</li>
	<li>Monica Mihailescu</li>
	<li>Raluca Constanda</li>
</ul>
About
