<head>
<h1>About</h1>
</head>
<body>
<p><%= image_tag("poza.jpg", options = {:size => "600x600",:alt => "rss feed"}) %></p>
<p>Proiect realizat in cadrul cursului de WebDev 2013</p>
<p>Membrii echipei</p>
<ul>
	<li>Cristian Berceanu</li>
	<li>Oana Radoi</li>
	<li>Monica Mihailescu</li>
	<li>Raluca Constanda</li>
</ul>
</body>

