<<<<<<< HEAD
<head>
<h1>About</h1>
</head>
<body>
<p><%= image_tag("poza.jpg", options = {:size => "600x600",:alt => "rss feed"}) %></p>
=======
<<<<<<< HEAD
<h1>About</h1>

>>>>>>> 24e63d58be533ac4d92d2b77b0a003fde2192ce7
<p>Proiect realizat in cadrul cursului de WebDev 2013</p>
<p>Membrii echipei</p>
<ul>
	<li>Cristian Berceanu</li>
	<li>Oana Radoi</li>
	<li>Monica Mihailescu</li>
	<li>Raluca Constanda</li>
</ul>
<<<<<<< HEAD
</body>

=======


=======
<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>
>>>>>>> 0a3da85891ed97c2fde33cbe41b82aa249ed43a8
>>>>>>> 24e63d58be533ac4d92d2b77b0a003fde2192ce7
